# ignore all data files since we're hosting this publicly on github
*.csv
*.xlsx
*.json
*.xml
*.xsd
data/*.csv
data/*.xlsx
data/*.json
data/*.xml
data/*.xsd
*.zip
models/*
embeddings/*
.library.json
HW/
.ipynb_checkpoints/
